/* static/main/css/style.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 1rem;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

main {
    padding: 2rem;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Style for the canvas container */
.canvas-container {
    position: relative;
    width: 800px;
    height: 600px;
}

/* Style for the canvas */
#canvas {
    position: absolute;
    z-index: 0; /* Lower z-index to ensure canvas is behind the popup */
}

/* Style for the modal popup */
.modal {
    background-color: #ffffff;
    border: 1px solid #000000; /* Green border */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 12px;
}

    .modal h2 {
        margin: 2px 0px;
    }

    .modal p {
        margin: 2px 0px;
    }

.btn-group button {
    background-color: #808080; /* Green background */
    border: 1px solid #000000; /* Green border */
    color: white; /* White text */
    width: 100%;
    margin: 6px 0px;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
}

    .btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: #c7c7c7;
    }
